

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.container {
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    margin: 0 auto;
    margin-bottom: 30px;
    
}



.choice_baza {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 50px;
}

.tarifs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.button {
    display: block;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #1100AD;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 30px;
}

.button:hover {
    background-color: red;
}

.description {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: gray;  
}

.input {
    vertical-align: top;
    text-align: left;
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 20px;
    resize: none;

    
}

.copyright {
    display: block;
    text-align: center;
}

.ad_link {
   color: #1100AD;
   text-decoration: underline;
}