

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-width: 360px;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    margin: 0 auto;
    margin-bottom: 30px;
    
}



.choice_baza {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 30px;
}

.tarifs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media (max-width: 700px) {
    .tarifs {
        display: block;
        margin-bottom: 0;
    }
}



.button {
    display: block;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #1100AD;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 30px;
}

.button:hover, .button:active {
    background-color: red;
}

.description {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: gray;  
}

@media (max-width: 1100px) {
    .description {
      width: 200px;
    }
}

@media (max-width: 700px) {
    .description {
      margin-bottom: 50px;
    }
}

.check_tarif {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: black; 
}


.input {
    vertical-align: top;
    text-align: left;
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 20px;
    resize: none;

    
}

.flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .flex {
        display: inline;
    }


    
}


.down_buttons {
    display: flex;
    gap: 30px;
}

.manya {
    width: 250px;
    background-color: red;
}

.manya:hover {
    background-color: black;
}

@media (max-width: 470px) {
    .down_buttons {
        display: block;
        width: 200px;
        margin: 0 auto;
        
    }
}

.reset {
    color:#1100AD;
    background-color: white;
    border: 2px solid #1100AD;
}

.reset:hover {
    color: red;
    background-color: white;
    border: 2px solid red;
}

.copyright {
    display: block;
    text-align: center;
}

.link {
   color: #1100AD;
   text-decoration: underline;
}

.pic {
    display: block;
    width: 500px;
    margin-bottom: 30px;
}

.manifest_content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .manifest_content {
        display: block;
    }
}


p {
    
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black; 
    width: 600px;
    line-height: 1.6;
    margin-bottom: 20px;
}

@media (max-width:650px) {
    p {
        width: 100%;
    }

    .pic {
    
    width: 100%;
    
}
}
